
@inherits EditTicketBase

<MatFAB Mini="true" OnClick="@OpenDialog" >
    <MatIcon>
        <i class="oi oi-plus"></i>
    </MatIcon>
</MatFAB>
@if (@Projects != null)
{
    <MatDialog @bind-IsOpen="@DialogIsOpen">
        <MatDialogTitle>New Ticket</MatDialogTitle>
        <MatDialogContent>
            <EditForm Model="@EntityModel" OnValidSubmit="SubmitTicket">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group row">
                    <MatSelect Label="Project" @bind-Value="EntityModel._projectIdAsString">
                        @foreach (var project in @Projects)
                        {
                            <MatOptionString value="@project.Id.ToString()">@project.Name</MatOptionString>
                        }
                    </MatSelect>
                </div>

                <div class="form-group row">
                    <MatStringField ReadOnly="true" @bind-Value="EntityModel.Owner" Label="Owner" ></MatStringField>
                </div>

                <div class="form-group row">
                    <MatStringField TextArea="true" @bind-Value="EntityModel.Description" Label="Description"></MatStringField>
                </div>

                <div class="form-group row">
                    <MatDatePicker @bind-Value="EntityModel.DueDate" Label="Due Date" />
                </div>

                <MatButton OnClick="@(e => { DialogIsOpen = false; })">No Thanks</MatButton>
                <MatButton type="submit">Submit</MatButton>

            </EditForm>
        </MatDialogContent>
        <MatDialogActions>
        </MatDialogActions>
    </MatDialog>
}