@page "/tickets"

@using TicketPusher.Server.Utils
@inherits TicketsBase
@attribute [Authorize]

<TableTemplate Items="Entities" Context="ticket">
    <TableHeader>
        <th><EditTicket Projects="@Projects" OnSubmitTicket="RefreshData" /></th>
        <th>Id</th>
        <th>Project</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Submit Date</th>
        <th>Due Date</th>
    </TableHeader>
    <RowTemplate>
        <td><CloseTicket Id="@ticket.Id" OnHandleValidSubmit="RefreshData" /></td>
        <td title="@ticket.Id">@ticket.Id.ToShortGuid()</td>
        <td>@ticket.ProjectId.ToProjectName(@Projects)</td>
        <td>@ticket.Owner</td>
        <td>@ticket.TicketDetails.Description</td>
        <td>@ticket.TicketDetails.SubmitDate.ToShortDateString()</td>
        <td>@ticket.TicketDetails.DueDate.ToShortDateString()</td>
    </RowTemplate>
</TableTemplate>

