@inherits UpdateProjectBase

<MatButton OnClick="@(() => OpenDialog(@Project))" >
    @Button
</MatButton>
<MatDialog @bind-IsOpen="@DialogIsOpen">
    <MatDialogTitle>Update Project</MatDialogTitle>
    <MatDialogContent>
        <EditForm Model="@EntityModel" OnValidSubmit="@(() => SubmitProject(@Project.Id))">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group row">
                <MatStringField @bind-Value="EntityModel.Name" Label="Name" ></MatStringField>
            </div>

            <div class="form-group row">
                <MatSelect Label="Parent Project" @bind-Value="EntityModel._parentProjectIdAsString">
                    @foreach (var project in @Projects.OrderBy(p => p.Hierarchy))
                    {
                        <MatOptionString value="@project.Id.ToString()">@project.Hierarchy</MatOptionString>
                    }
                </MatSelect>
            </div>

            <MatButton type="submit">Submit</MatButton>

        </EditForm>
    </MatDialogContent>
    <MatDialogActions>
    </MatDialogActions>
</MatDialog>
