@page "/tickets"

@using TicketPusher.Server.Data
@inherits TicketsBase

<h1>Ticket</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (tickets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Owner</th>
                <th>Description</th>
                <th>Date Submitted</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in tickets)
            {
                <tr>
                    <td>@ticket.Id</td>
                    <td>@ticket.Owner</td>
                    <td>@ticket.Description</td>
                    <td>@ticket.SubmitDate.ToShortDateString()</td>
                    <td>@ticket.DueDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

